/* add ie7 css hacks here */

/* Self Clearing Floats */
.clear-fix { min-height: 1%; }

img { -ms-interpolation-mode: bicubic; } /* helps with resizing images */

/* if bullet images are dissapearing for li's, uncomment this stuff below

#container-name li { width: 100%; }

*/