/* Responsive CSS */

/*--------------------------------------------------------------------------------------------------*/
/* 100-480 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 100px) and (max-width: 480px) {

    /* Shows media query size on the top of the browser window -- DELETE before making site live */
    body:before { content: "100-480"; left: 1em; position: absolute; top: 1em; z-index: 999; }

    /* add your styles here */

} /* END: 100-480 media query - don't delete this bracket */


/*--------------------------------------------------------------------------------------------------*/
/* 480-600 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) and (max-width: 600px) {

    /* Shows media query size on the top of the browser window -- DELETE before making site live */
    body:before { content: "480-600"; left: 1em; position: absolute; top: 1em; z-index: 999; }

    /* add your styles here */

} /* END: 480-600 media query - don't delete this bracket */


/*--------------------------------------------------------------------------------------------------*/
/* 600-750 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 600px) and (max-width: 750px) {

    /* Shows media query size on the top of the browser window -- DELETE before making site live */
    body:before { content: "600-750"; left: 1em; position: absolute; top: 1em; z-index: 999; }

    /* add your styles here */

} /* END: 600-750 media query - don't delete this bracket */


/*--------------------------------------------------------------------------------------------------*/
/* 750-980 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 750px) and (max-width: 980px) {

    /* Shows media query size on the top of the browser window -- DELETE before making site live */
    body:before { content: "750-980"; left: 1em; position: absolute; top: 1em; z-index: 999; }

    /* add your styles here */

} /* END: 750-980 media query - don't delete this bracket */



/*--------------------------------------------------------------------------------------------------*/
/* 980-1200 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 980px) and (max-width: 1200px) {

    /* Shows media query size on the top of the browser window -- DELETE before making site live */
    body:before { content: "980-1200"; left: 1em; position: absolute; top: 1em; z-index: 999; }

    /* add your styles here */

} /* END: 980-1200 media query - don't delete this bracket */



/*--------------------------------------------------------------------------------------------------*/
/* 1200+ media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {

    /* Shows media query size on the top of the browser window -- DELETE before making site live */
    body:before { content: "1200 and up"; left: 1em; position: absolute; top: 1em; z-index: 999; }

    /* add your styles here */

} /* END: 1200+ media query - don't delete this bracket */