/*

BASE - HOW LOW CAN YOU GO?

Base is for standard things that don't change from project to project

*/



// turn this on and off to show what breakpoint is being used

// body:before {
// 	position: absolute; right: 1em; top: 1em; z-index: 999; background: $white; padding: 1em; content: 'no breakpoint';
// 	@include breakpoint(mini) {
// 		content: 'mini breakpoint';
// 	}
// 	@include breakpoint(medium) {
// 		content: 'medium breakpoint';
// 	}
// 	@include breakpoint(large) {
// 		content: 'large breakpoint';
// 	}
// 	@include breakpoint(mega) {
// 		content: 'mega breakpoint';
// 	}
// }


/* ::: modified version of RESET CSS 2.0 by Eric Meyer ::::::::::::::::::::::::::::::::::::::::: */
	
	// http://meyerweb.com/eric/tools/css/reset/ - http://cssreset.com
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	// HTML5 display-role reset for older browsers
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,q:before, q:after
	{
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse; border-spacing: 0;
	}
	sub, sup { // see: https://gist.github.com/unruthless/413930
		/* Specified in % so that the sup/sup is the
		right size relative to the surrounding text */
		font-size: 75%;

		/* Zero out the line-height so that it doesn't
		interfere with the positioning that follows */
		line-height: 0;

		/* Where the magic happens: makes all browsers position
		the sup/sup properly, relative to the surrounding text */
		position: relative;

		/* Note that if you're using Eric Meyer's reset.css, this
		is already set and you can remove this rule */
		vertical-align: baseline;
	}
	sup {
  		/* Move the superscripted text up */
  		top: -0.5em;
	}
	sub {
		/* Move the subscripted text down, but only
		half as far down as the superscript moved up */
		bottom: -0.25em;
	}


/* ::: HTML ELEMENTS ::::::::::::::::::::::::::::::::::::::::: */

	// transition all links by default
	a:link, a:visited {
		@include transition(all .3s ease-in-out);
	}
	a:hover, a:active, a:focus {
		//Fixes a bug with webkit where links flicker
		//See http://stackoverflow.com/questions/3461441/prevent-flicker-on-webkit-transition-of-webkit-transform
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
        outline: none;
	}


/* ::: UTILITY ::::::::::::::::::::::::::::::::::::::::: */

	// Fixed header jumplink -- http://css-tricks.com/hash-tag-links-padding/
	.anchor:before { // adjust the margin and height for your situation
	  display: block; 
	  content: " "; 
	  margin-top: -60px; 
	  height: 40px; 
	  visibility: hidden; 
	}

	.noborder {
		border: none;
	}

	// .clear-fix is attached to the element you want to clear
	.clear-fix:before,
	.clear-fix:after { content: ""; display: table; } 
	.clear-fix:after { clear: both; }

	// You can also add an <hr class=".clear-all" /> wherever you are when doing production work and it will force a clear
	.clear-all { visibility: hidden; clear: both; margin: 0 !important; padding: 0 !important; font-size: 0; height: 1px; }



/* ::: TABLES ::::::::::::::::::::::::::::::::::::::::: */

	// mobile scroll fix
	table {
	    display: block;
	    overflow-x: auto;
	    width: 100%;
	    -webkit-overflow-scrolling: touch;
		font-size: 80%;
		@include breakpoint(medium) {
			font-size: 90%;
			display: table;
		}
	}
	th {
		font-weight: 600;
		white-space: nowrap;
		padding: .5em;
	}
	td {
		padding: .5em;
	}



/* ::: OTHER BROWSER FIXES ::::::::::::::::::::::::::::::::::::::::: */

	// Fixes a bug in webkit with fonts being animated 
	// http://stackoverflow.com/questions/9733011/safari-changing-font-weights-when-unrelated-animations-are-running
	html {
		-webkit-font-smoothing: antialiased;
	}

	// Prevent font scaling in landscape mode on phones
	@media all and (orientation:landscape) {
		html {
	    	-webkit-text-size-adjust: none;
	    }
	}

	// Natural Box Layout Model for all elements ::::::::::::::::::::::::::::::::::::::::: */
	// http://paulirish.com/2012/box-sizing-border-box-ftw/
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}



/* ::: NATURAL BOX LAYOUT MODEL for all elements ::::::::::::::::::::::::::::::::::::::::: */


	// Removes inner padding and border in Firefox 4+ to make heights consistant across webkit and FF -- thanks Adrian! */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}



/* ::: WordPress ::::::::::::::::::::::::::::::::::::::::: */
	
	// WordPress WYSIWYG alignment -- when you put in images that span the entire width of the content area remove the width and height
	img.aligncenter.size-full {
		max-width: 100%;
		display: block;
		margin: 5px auto;
	}
    img.alignright.size-full {
    	padding: 4px;
    	margin: 0 0 2px 15px;
    	display: inline;
    	@include breakpoint(medium) {
    		max-width: 40%;
    	}
    	max-width: 100%;
    }
    img.alignleft.size-full {
    	padding: 4px;
    	margin: 0 15px 2px 0;
    	display: inline;
    	@include breakpoint(medium) {
    		max-width: 40%;
    	}
    	max-width: 100%;
    }
    .alignright {
    	float: right;
    }
	.alignleft {
		float: left;
	}
	.aligncenter {
		text-align: center;
	}
	.flush-margin {
		margin: 0 !important;
	}


/* ::: WARNINGS ::::::::::::::::::::::::::::::::::::::::: */

	.sys { text-align: left }
	.warn { }

	/* a class you can add when doing production to hide elements and keep them accessible */
	.access-hide { @include hide(); }


	// Show-Hide
	.make-link {
		text-decoration: none;
		margin-bottom: .5em;
		@include transition (all .4s ease-in-out);
	}
	.make-link:hover,
	.make-link:focus,
	.make-link:active {
		cursor: pointer;
 	}
 	ul.hide {
 		margin: 0 0 0 1em !important;
 		padding: 0 !important;
 	}

	// Adds plus and minus signs to header -- could be changed for other icons using an icon font - overwrite in the site.scss file
	.header-shown:before { content: "-"; margin-right: .5em; }
	.header-hidden:before { content: "+"; margin-right: .5em; }
	
	// Indicators
	.indicator {
		position: absolute;
		z-index: 100;
		text-align: center;
		left: 0;
		top: 15em;
		-webkit-transform: rotate(90deg);
    	-webkit-transform-origin: left bottom;
	    -moz-transform: rotate(90deg);
	    -moz-transform-origin: left bottom;
	    -ms-transform: rotate(90deg);
	    -ms-transform-origin: left bottom;
	    -o-transform: rotate(90deg);
	    -o-transform-origin: left bottom;
	    transform: rotate(90deg);
	    transform-origin: left bottom;
	}
	.indicator a { display: block; text-transform: uppercase; text-decoration: none; padding: .3em 1em; }
	.indicator a:link, .indicator a:visited { color: $white; background-color: $grey; }
	.indicator a:hover, .indicator a:focus, .indicator a:active { color: $white; background-color: $black; text-decoration: none; cursor: pointer; }

	// Hide these items when Javascript is active
	.js .js-ind, .js .hide { display: none; }



/* ::: LISTS ::::::::::::::::::::::::::::::::::::::::: */

	.content-main ul {
		margin-left: 1em;
		@include breakpoint(medium) {
			margin-left: 2em;
		}
		margin-top: 1em;
		margin-bottom: 1.5em;
		li {
			margin: 0 2em .2em 0;
			list-style-type: square;
		}
		ul {
			margin: .5em 2em .8em 1em;
			li {
				list-style-type: circle;
				margin: 0 2em .5em 1em;
			}
		}
	}

	.content-main dl {
		margin: 2em 0;
		dt {
			font-weight: 900;
			margin-top: 1.5em;
			margin-bottom: .5em;
		}
	}

	.content-main ol {
		margin-left: 1em;
		@include breakpoint(medium) {
			margin-left: 2em;
		}
		li {
			margin-bottom: 1em;
		}
		ol {
			list-style-type: lower-alpha;
			margin: .2em 2em .8em 2em;
		}
	}

	// Horizontal List
	.horiz-list {
		@include breakpoint(medium) {
			list-style-type: none;
			display: inline-block;
			width: 100%;
			a {
				display: block;
				padding: 1em;
			}
			ul {
				display: inline-block;
			}
			li {
				display: block;
				width: 100%;
				@include breakpoint(medium) {
					display: inline-block;
					width: auto;
				}
			}
		}
	}

	// Lists Without Bullets
	ul.no-bullet {
		margin-left: 0;
		list-style-type: none;
	}
	ul.no-bullet li {
		margin-bottom: .5em;
	}

	// Link Lists
	ul.link-list li {
		list-style-type: none;
	}
	li.link-list a, ul.link-list li a {
		display: block;
		padding-left: 20px;
		margin-left: 20px;
	}

	// PDF Lists
	ul.pdf-link {
		padding-left: 20px;
		margin-left: 5px;
	}
	ul.pdf-list li {
		list-style-type: none;
	}
	li.pdf-list a, ul.pdf-list li a {
		display: block;
		padding-left: 20px;
		margin-left: 20px;
	}

 
 /* ::: Misc ::::::::::::::::::::::::::::::::::::::::: */

	// Code
 	pre {
 		overflow: scroll;
 		padding: 1em 2em;
 		border-radius: .5em;
 	}

 	// This is used for the sticky header
	.fixed {
	    position: fixed !important;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 999;
	    margin-top: 0 !important;
	}

	// FitVid CSS
	.fitvid {
	    position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    overflow: hidden;
	}
	.fitvid iframe, .fitvid object, .fitvid embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}