// some default comment styles for when disqus isn't working

/*--- If you use the Facebook comments plugin this makes it responsive, if not trash this---*/
	/*--- http://wordpress.org/plugins/facebook-comments-plugin/ ---*/
	.fb-comments, .fb-comments span, .fb-comments iframe {
		width: 100% !important;
	}
	.fb-comments { margin-top: 2em; }

	// some default comment styles for wordpress

	#respond h3 {
		margin: 3em 0 1em 0;
	}

	ol.commentlist { list-style: none;
		margin: 0 0 1em;
		padding:0;
		text-indent: 0;
	}
	ol.commentlist li.comment {
		border-bottom: 1px dotted #666;
		padding: 1em;
	}
	ol.commentlist li.comment div.vcard cite.fn {
		font-style: normal;
	}
	ol.commentlist li.comment div.vcard img.avatar {
		border: 5px solid #CCC;
		float: right;
		margin:0 0 1em 1em;
	}
	ol.commentlist li.comment div.comment-meta a {
		color: #666;
	}
	ol.commentlist li.comment p {
		margin: 0 0 1em;
	}
	ol.commentlist .commentmetadata {
		font-size: 80%;
		margin-bottom: 1em;
	}
	ol.commentlist li.comment ul {
		list-style: square;
		margin:0 0 1em 2em;
	}
	ol.commentlist li.comment div.reply a {
		font-weight: bold;
	}
	ol.commentlist li.comment ul.children {
		list-style: none;
		margin: 1em 0 0;
		text-indent:0;
	}
	ol.commentlist li.comment ul.children li.depth-2 {
		border-left: 5px solid #555;
		margin: 0 0 .25em .25em;
	}
	ol.commentlist li.comment ul.children li.depth-3 {
		border-left: 5px solid #999;
		margin: 0 0 .25em .25em;
	}
	ol.commentlist li.comment ul.children li.depth-4 {
		border-left: 5px solid #bbb;
		margin: 0 0 .25em .25em;
	}
	ol.commentlist li.even {
		background: #fff;
	}
	ol.commentlist li.odd {
		background:#f6f6f6;
	}
	ol.commentlist li.parent {
		border-left:5px solid #111;
	}
