/*

THIS SHEET IS FOR STYLING SPECIFIC PAGES ON YOUR SITE

- Layout
- Applying your color definitions from colors.scss
- Applying your typography definitions from type.scss

*/


/* ::: HOME ::::::::::::::::::::::::::::::::::::::::: */
	.page_home {
		.nested-stuff { }
		.nested-stuff { }
		.nested-stuff { }
	}


/* ::: SEARCH RESULTS ::::::::::::::::::::::::::::::::::::::::: */

	.search-results {
		.search-result-item	{
			margin-bottom: 1.5em;
		}
	}

/* ::: BLOG Listing Page ::::::::::::::::::::::::::::::::::::::::: */

	.blog-listing {
		margin-top: 2em;
		text-align: center;
		margin-bottom: 3em;
		article {
			position: relative;
		}
		h2 {
			color: $grey;
			font-size: 90%;
			font-weight: bold;
		}
		@include breakpoint(medium) {
			h2 {
				position: absolute;
				z-index: 99;
				left: 0;
				top: 0;
				margin: 2em;
			}
		}
		img {
			max-width: 100%;
		}
		.blog-content {
			background: $white;
			z-index: 50;
			position: relative;
			h1 {
				margin-bottom: 1em;
				padding: 3em 0 .5em 0
			}
			margin-bottom: 4em;
			@include span-columns(10);
			@include shift(1);
			@include breakpoint(large) {
				border-radius: .5em;
				padding: 0 5em;
				margin-top: -5em;
				margin-bottom: 5em;
				@include span-columns(8);
				@include shift(2);
			}
		}
	}

	// Single page
	.single {
		.content-main {
			margin-bottom: 4em;
			
			header {
				margin: 3em 0;
				h1 {
					margin-bottom: .5em;
					@include huge-type;
				}
				.meta {
					font-weight: bold;
					font-size: 80%;
				}
			}
		}
	}