/*--------------------------------------------------------------------------------------------------*/
/* 100-480 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 100px) and (max-width: 480px) {
	
	/* Shows media query size on the top of the browser window -- DELETE before making site live */
	body:before { @include alert("100-480"); }

	/* add your styles here */

} /* END: 100-480 media query - don't delete this bracket */


/*--------------------------------------------------------------------------------------------------*/
/* 480-600 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) and (max-width: 600px) {
	
	/* Shows media query size on the top of the browser window -- DELETE before making site live */
	body:before { @include alert("480-600"); }

	/* add your styles here */

} /* END: 480-600 media query - don't delete this bracket */


/*--------------------------------------------------------------------------------------------------*/
/* 600-750 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 600px) and (max-width: 750px) {

	/* Shows media query size on the top of the browser window -- DELETE before making site live */
	body:before { @include alert("600-750"); }

	/* add your styles here */

} /* END: 600-750 media query - don't delete this bracket */


/*--------------------------------------------------------------------------------------------------*/
/* 750-980 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 750px) and (max-width: 980px) {

	/* Shows media query size on the top of the browser window -- DELETE before making site live */
	body:before { @include alert("750-980"); }

	/* add your styles here */

} /* END: 750-980 media query - don't delete this bracket */



/*--------------------------------------------------------------------------------------------------*/
/* 980-1200 media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 980px) and (max-width: 1200px) {

	/* Shows media query size on the top of the browser window -- DELETE before making site live */
	body:before { @include alert("980-1200"); }

	/* add your styles here */

} /* END: 980-1200 media query - don't delete this bracket */



/*--------------------------------------------------------------------------------------------------*/
/* 1200+ media query */
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {

	/* Shows media query size on the top of the browser window -- DELETE before making site live */
	body:before { @include alert("1200 and up"); }

	/* add your styles here */

} /* END: 1200+ media query - don't delete this bracket */
