/*

THIS SHEET IS FOR SITEWIDE STYLES RELATED TO:

- Layout
- Applying your color definitions from colors.scss
- Applying your typography definitions from type.scss

*/

/* ::: GENERAL ::::::::::::::::::::::::::::::::: */

	// Bourbon Neat Grid Settings -- NOT SURE IF THESE ARE NECESSARY
	.row {
		padding: 0 4%; // default padding to keep the content from touching the edge of the site (this may cause issues, keep an eye on it)
	}

	// Customize the look of selected text -- feel free to change the colors
	::-moz-selection { // Mozilla
       background-color: $black;
       color: $white;
	}
	::selection { // Safari
       background-color: $black;
       color: $white;
	}


/* ::: SITE HEADER ::::::::::::::::::::::::::::::::: */

	.site-header {
		h1 { // this h1 is just for SEO and keeping a good HTML5 document model
			@include hide(); 
		}
		.site-title {

		}
	}


/* ::: MAIN NAV ::::::::::::::::::::::::::::::::: */
	
	.nav-main {
		a {
			text-decoration: none;
			display: inline-block;
			line-height: 1.8em;
			padding: 1em 2em;
			&:link, &:visited {
				// style the links
			}
			&:hover, &:active, &:focus {
				// style the links
			}
		}
		/* Down States */
		.current_page_item a {
		}
	}


/* ::: PAGINATION :: some default styling for the PageNavi Plugin ::::::::::::::::::::::::::::::: */

	.wp-pagenavi {
		margin-top: 3em;
	}
	.wp-pagenavi .pages {
	    display: none;
	}
	.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi span.current {
	    background: $lighter-grey;
	    color: $grey;
	    border-radius: 1.3em;
	    display: inline-block;
	    text-decoration: none;
	    margin: 0 .3em 12px;
	    padding: .5em 1em;
	    border: none;
	}
	.nextpostslink, .previouspostslink {
		background: none !important;
	}
	.wp-pagenavi span.current {
	    background: $light-grey;
	    color: $white;
	}
	.wp-pagenavi a:hover {
	}


/* ::: CONTENT ::::::::::::::::::::::::::::::::: */

    // Tags
    a[rel="tag"],
    .tags a {
        padding: .75em 1em;
        white-space: nowrap;
        vertical-align: middle;
        margin: .2em;
        border-radius: .3em;
        background: $lighter-grey;
        &:link, &:visited {
            text-decoration: none;
            font-color: dark-grey;
        }
        &:hover, &:active, &:focus {
            background: $orange;
            color: $white;
        }
    }


/* ::: COMMENTS ::::::::::::::::::::::::::::::::: */
	
	// uncomment the next line if you end up using WordPress' default comments (usually we use Disqus so it's commented out by default)
	// @import "./_comments.scss";

	
/* ::: SIDEBAR: MAIN ::::::::::::::::::::::::::::::::: */

	.sidebar-main {

		li {
			list-style-type: none;
		}

		border-top: 1px solid $light-grey;
		padding: 3em 1em 1em 1em;
		margin: 1em;

		@include breakpoint(medium) {
			column-count: 2; // autoprefixer not working with this :(
			-webkit-column-count: 2;
			-moz-column-count: 2;
		}

		padding-bottom: 3em;

		div { // space out the widgets
			margin-bottom: 4em;
		}
		#s { // searchbox
			width: 75%;
		}
	}
	

/* ::: FOOTER ::::::::::::::::::::::::::::::::: */

	.footer {
		clear: both;
		
		/* Credit */
		.credit {
			h1 {
			font-size: 1em;
			font-weight: normal;
			}
		}
	}




