/*
ie9 hacks
*/

img { -ms-interpolation-mode: bicubic; } /* fixes image resizing */

/* since we show labels outside form fields on IE they need to stack */
input, label {
	display: block !important;
	clear: both !important;
}

.browsehappy {
	padding: 4em;
	background: yellow;
	color: blue;
	font-size: 2em;
}