// rounded corners
@mixin rounded($radius: 0.5em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

// alert shows in upper right, used for showing the media query sizes
@mixin alert($statement) {
	content: $statement;
	right: .3em;
	position: absolute;
	top: .3em;
	z-index: 999;
	background: lighten($header-bkg, 20%);
	padding: .2em 1.5em;
	@include rounded(2em);
}

