// rounded corners
@mixin rounded($radius: 0.5em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

// alert shows in upper right, used for showing the media query sizes
@mixin alert($statement) {
	content: $statement;
	right: 1em;
	position: absolute;
	top: .5em;
	z-index: 999;
	background: darken($page-bkg, 10%);
	padding: .5em 2em;
	@include rounded(2em);
}

