// base styles before adding responsive layouts


	/*--- SITE WIDE ---*/

		/* Set the background and font color for the html and body, if you don't have a different bkg for the body set both to be the same */
		html { background: $page-bkg; color: $page-txt; }
		body { background: $page-bkg; color: $page-txt; }

		/* Links */
		a:link, a:visited { color: $link-default; text-decoration: underline; }
		a:hover, a:active, a:focus { color: $link-active; text-decoration: none; }
	
		/* Hide these elements but keep them accessible */
		.access-hide { position: absolute; left: -999em; }

		/* page-wrapper */
		#page-wrapper { padding: 0 5%; }
	
	
	/*--- HEADER ---*/
	
		#site-header #site-title { }
		#site-header #site-description { }	

		/* Nav */
		#main-nav a { font-size: 1.2em; text-decoration: none; display: inline-block; line-height: 1.8em; margin: 0 3px 3px 0; padding: 1em 2em; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	
		/* Nav Links*/
		#main-nav a:link, #main-nav a:visited  { color: darken($nav-up, 40%); background: $nav-up; }
		#main-nav a:hover, #main-nav a:active, #main-nav a:focus { color: darken($nav-dn, 20%); background: $nav-dn; text-decoration: underline; }

		/* DownStates*/
		#main-nav .current_page_item a { color: lighten($nav-current, 40%) !important; background: $nav-current; cursor: default; }
	
		
	/*--- CONTENT AREA ---*/
	
		#content { }
		#content em { font-style: italic; }
		
		/* Page Nav */
		#page-nav a { float: right; padding: .5em 2em; margin: 1em; }

		/* Page */
		.page {}

		/* Posts */
		.post {}

		/* Single */
		.single-template {}
			/* Comments using Intense Debate */
		.post-meta-data	{ margin: 1em 0; }
	
	
	/*--- SIDEBAR ~ MAIN ---*/

		#sidebar-main { padding-bottom: 3em; }
		#sidebar-main ul { list-style-position: inside; }
	
	
	/*--- SIDEBAR ~ FOOTER ---*/

		#sidebar-footer ul { list-style-position: inside; }


	/*--- FOOTER ---*/

		#footer { clear: both; padding-bottom: 20px; text-align: right; }
			
		/* Credit */
		#footer #site-credits a { letter-spacing: 1px; }